</head>
<body>
    <div class="centered-content">
        <h1>Nos Contacts</h1>
        <!-- Add your contact information or content here -->

        <!-- Social Media Links with Icons -->
        <div class="social-links">
            <a href="https://www.instagram.com/your_instagram_username" target="_blank" rel="noopener noreferrer">
                <i class="fab fa-instagram"></i>
            </a>
            <a href="https://twitter.com/your_twitter_username" target="_blank" rel="noopener noreferrer">
                <i class="fab fa-twitter"></i>
            </a>
            <a href="https://www.youtube.com/user/your_youtube_channel" target="_blank" rel="noopener noreferrer">
                <i class="fab fa-youtube"></i>
            </a>
            <a href="https://www.facebook.com/your_facebook_page" target="_blank" rel="noopener noreferrer">
                <i class="fab fa-facebook"></i>
            </a>
        </div>
    </div>
</body>
</html>