<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nos Contacts</title>
    <link rel="icon" type="image/png" href="./static/potence.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-fvVFIxjtS2mxEx9P4QxII7xykd1XJp77W3bG8BdN9BBww71HZSdYhqct1B5dmnPaQPjs0Bo86hkGYZ1eKc4Yw==" crossorigin="anonymous" />
    <link rel="stylesheet" href="./static/styles.css">
</head>
<body>
    <div class="centered-content">
        <h1>Nos Contacts</h1>
        <!-- Add your contact information or content here -->

        <!-- Social Media Links with Icons -->
        <div class="social-links">
            <a href="https://www.instagram.com/your_instagram_username" target="_blank" rel="noopener noreferrer">
                <i class="fab fa-instagram"></i>
            </a>
            <a href="https://twitter.com/your_twitter_username" target="_blank" rel="noopener noreferrer">
                <i class="fab fa-twitter"></i>
            </a>
            <a href="https://www.youtube.com/user/your_youtube_channel" target="_blank" rel="noopener noreferrer">
                <i class="fab fa-youtube"></i>
            </a>
            <a href="https://www.facebook.com/your_facebook_page" target="_blank" rel="noopener noreferrer">
                <i class="fab fa-facebook"></i>
            </a>
        </div>
    </div>
</body>
</html>


