<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hangman Game</title>
    <link rel="icon" type="image/png" href="./static/potence.png">
    <link rel="stylesheet" href="./static/styles.css">
</head>
<body>
    <div id="game" >
        <div class="encadrement-texte">
            <h3>Game mode: {{.Game_mode}}</h3>
        </div>
        <h1>Hangman</h1>
        <h2>Try to find this word : </h2>
        <p>{{.Display}}</p>
        <br>
        <p >You have {{.Life}} lifes</p>
        <p >Letters you already try : </p>
        <img src="/static/images/hangman-0.png" alt="Description de l'image" width="300" height="200">
        <form action="/letter" method="post">
            <label for="letterInput">Enter a letter : </label>
            <input type="text" id="letterInput" name="letterInput" maxlength="1" pattern="[A-Za-z]" title="Entrez une seule lettre alphabétique" required autofocus>
            <button type="submit">Try</button>
        </form>
    </div>
</body>
</html>
