<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hangman Game</title>
    <link rel="icon" type="image/png" href="./static/potence.png">
    <link rel="stylesheet" href="./static/styles.css">
</head>
<body>
    <div id="top-left">
        <div class="circle">
            <img src="./static/profil.png" alt="votre image de profil" class="profil-img">
            <div class="overlay-text">Player 1</div>
        </div>
    </div>
    <div id="menu" class="menu">
        <h1>Welcome to hangman game !</h1>
        <img src="./static/hangman.png" alt="Description de votre image" width="300" height="200">
        <h2>Choose a game mode :</h2>
        <div class="game-mode">
            <h3>Languages : </h3>
            <a href="/gamemode_french" id="startGame" >French</a>
            <a href="/gamemode_english" id="startGame" >English</a>
            <a href="/gamemode_german" id="startGame" >German</a>
            <a href="/gamemode_spanish" id="startGame" >Spanish</a>
            <a href="/gamemode_portugese" id="startGame" >Portuguese</a>
            <a href="/gamemode_italiano" id="startGame" >Italiano</a>
            <h3>Others :  </h3>
            <a href="/gamemode_french_citys" id="startGame" >French citys</a>
            <a href="/gamemode_capitals" id="startGame" >Capitals</a>
            <a href="/gamemode_countrys" id="startGame" >Countrys</a>
            <a href="/gamemode_food" id="startGame" >Food</a>
            <a href="/gamemode_drinks" id="startGame" >Drink</a>
            <a href="/gamemode_sports" id="startGame" >Sports</a>
            <a href="/gamemode_brands" id="startGame" >Brands</a>
        </div>
    </div>

    <div class="footer-content">
        <a href="/regle" id="gamerules" >Règle du jeu</a>
        <a href="/contact" id="contact" >Contacts</a>
    </div>
    <div class="bande-grise"></div>
</body>
</html>