<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jeu de Pendu</title>
    <link rel="icon" type="image/png" href="./static/potence.png">
    <link rel="stylesheet" href="./static/css/styles.css">
</head>
<body>
    <div id="top-left">
        <div class="circle">
            <img src="./static/profil.png" alt="votre image de profil" class="profil-img">
            <div class="overlay-text">Player 1</div>
        </div>
    </div>
    <div id="menu" class="menu">
        <h1>Welcome to Hangman Game !</h1>
        <img src="./static/hangman.png" alt="Description de votre image" width="300" height="200">
        <h2>Choose a game mode :</h2>
        <div class="game-mode">
            <h3 class="category-title">Languages : </h3>
            <a href="/gamemode_french" id="startGame" class="category-button" >French</a>
            <a href="/gamemode_english" id="startGame" class="category-button" >English</a>
            <a href="/gamemode_german" id="startGame" class="category-button" >German</a>
            <a href="/gamemode_spanish" id="startGame" class="category-button" >Spanish</a>
            <a href="/gamemode_portugese" id="startGame" class="category-button" >Portuguese</a>
            <a href="/gamemode_italiano" id="startGame" class="category-button" >Italiano</a>
        </div>
        <div class="game-mode">
            <h3>Others :  </h3>
            <a href="/gamemode_french_citys" id="startGame" class="category-button"> French citys</a>
            <a href="/gamemode_capitals" id="startGame" class="category-button" >Capitals</a>
            <a href="/gamemode_countrys" id="startGame" class="category-button" >Countrys</a>
            <a href="/gamemode_food" id="startGame" class="category-button" >Food</a>
            <a href="/gamemode_drinks" id="startGame" class="category-button" >Drink</a>
            <a href="/gamemode_sports" id="startGame" class="category-button" >Sports</a>
            <a href="/gamemode_brands" id="startGame" class="category-button" >Brands</a>
        </div>
    </div>
    <div class="button-container">
        <button1 class="btn1">
            <a href="/regle" id="gamerules" >Rules</a>
        </button1>
        <button1 class="btn1">
            <a href="/contact" id="contact" >Contacts</a>
        </button1>   
    </div>
</body>
</html>
