<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jeu de Pendu</title>
    <link rel="icon" type="image/png" href="./static/potence.png">
    <link rel="stylesheet" href="./static/styles.css">
</head>
<body>
    <div id="top-left">
        <div class="circle">
            <img src="./static/profil.png" alt="votre image de profil" class="profil-img">
            <div class="overlay-text">Player 1</div>
        </div>
    </div>
    <div id="menu" class="menu">
        <h1>Bienvenue au Jeu de Pendu !</h1>
        <img src="./static/hangman.png" alt="Description de votre image" width="300" height="200">
        <h2>Choisissez un mode de jeu</h2>
        <div class="game-mode">
            <h3>Langues : </h3>
            <a href="/gamemode_french" id="startGame" class="category-button" >Francais</a>
            <a href="/gamemode_english" id="startGame" class="category-button" >Anglais</a>
            <a href="/gamemode_german" id="startGame" class="category-button" >Allemand</a>
            <a href="/gamemode_spanish" id="startGame" class="category-button" >Espagnol</a>
            <a href="/gamemode_portugese" id="startGame" class="category-button" >Portugais</a>
            <a href="/gamemode_italiano" id="startGame" class="category-button" >Italien</a>
        </div>
        <div class="game-mode">
            <h3>Autres :  </h3>
            <a href="/gamemode_french_citys" id="startGame" class="category-button"> Villes de France</a>
            <a href="/gamemode_capitals" id="startGame" class="category-button" >Capitales</a>
            <a href="/gamemode_countrys" id="startGame" class="category-button" >Pays</a>
            <a href="/gamemode_food" id="startGame" class="category-button" >Nourritures</a>
            <a href="/gamemode_drinks" id="startGame" class="category-button" >Boissons</a>
            <a href="/gamemode_sports" id="startGame" class="category-button" >Sports</a>
            <a href="/gamemode_brands" id="startGame" class="category-button" >Marques</a>
        </div>
    </div>
    <div class="button-container">
        <button1 class="btn1">
            <a href="/regle" id="gamerules" >Règle du jeu</a>
        </button1>
        <button1 class="btn1">
            <a href="/contact" id="contact" >Contacts</a>
        </button1>   
    </div>
</body>
</html>