<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jeu de Pendu</title>
    <link rel="icon" type="image/png" href="./static/potence.png">
    <link rel="stylesheet" href="./static/css/styles.css">
</head>
<body>
    <div id="top-left">
        <div class="circle">
            <img src="./static/profil.png" alt="votre image de profil" class="profil-img">
            <div class="overlay-text">Player 1</div>
        </div>
    </div>
    <div id="menu" class="menu">
        <h1>Welcome to Hangman Game !</h1>
        <img src="./static/hangman.png" alt="Description de votre image" width="300" height="200">
        <button>
            <span><a href="/gamemode" id="startGame" >Start game!</a></span>
        </button>
    </div>
    <div class="button-container">
        <button1 class="btn1">
            <a href="/regle" id="gamerules" >Rules</a>
        </button1>
        <button1 class="btn1">
            <a href="/contact" id="contact" >Contacts</a>
        </button1>   
    </div>
</body>
</html>