<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Règle du jeu</title>
    <link rel="icon" type="image/png" href="./static/potence.png">
    <link rel="stylesheet" href="./static/css/styles.css">
</head>
<body>
    <div class="centered-content">
        <h1>Les règles</h1>
        <p class="styled-text">
            Welcome to the Hangman game! Here are the rules:
            You have to guess the randomly chosen word. To help you, some letters are already displayed. You have 10 attempts, after that, it's game over!
        </p>
    </div>
</body>
</html>