<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Règle du jeu</title>
    <link rel="icon" type="image/png" href="./static/potence.png">
    <link rel="stylesheet" href="./static/styles.css">
</head>
<body>
    <div class="centered-content">
        <h1>Les règles</h1>
        <p class="styled-text">
            Bienvenue dans le jeu de Pendu! Voici les règles :
            Vous devez trouver le mots qui à été choisis aléatoirement. Pour vous aidez 
            quelques lettres sont déjà affiché. Vous avez 10 tentatives, 
            après cela c'est perdu !
        </p>
    </div>
</body>
</html>