body {
  background-color: rgb(111, 196, 238);
  font-family: 'Arial', sans-serif; /* Choisir une police de caractères */
}

h1 {
  color: #333; /* Couleur du texte */
}

input[type="text"] {
  font-family: 'Courier New', monospace;
  padding: 5px;
  border: 1px solid #999;
  border-radius: 3px;
}

.button-style {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}






  